/* Ensesa Custom CSS Style Sheet
 * Written by Williams Isaac (Software Engineer / Architect) ** Ensesa **
 */
 .bg {
  background: url("../img/header3.jpeg") no-repeat center center;
  position: relative;
  width: 1400px;
  height: 500px;
}
.img-overlay{
  width: 100%;
  vertical-align: top;
}
.bg:after{
  content: '\A';
  position: absolute;
  width: 100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.bg:hover::after{
    opacity: 1;
}
.jumbotron {
  margin-bottom: 0px;
  height: 600px;
  background:transparent;
}

.navbar-default {
    background: #232526;
    background: (to left, #232526 , #414345);
    background: linear-gradient(to left, #232526 , #414345);
    border: 0px;

}
.navbar {
    border-radius: 0px;
    padding-top: 1;
    padding-bottom: 1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: RGB(1, 2, 1);
    color: #FAF4EB;
}
.navbar-default .navbar-nav > li > a{
    color: #FFF;
    margin: 8px;
    padding: 10px;
    margin-left: 180px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0px;
    font-weight: bold;
}
.jumbo-content
{
  background: #141E30;
  background: -webkit-linear-gradient(to left, #141E30 , #DD4681);
  background: linear-gradient(to left, #141E30 , #DD4681);
  height: 300px;
  color: #fff;
}
.bulb-font{
  font-size: 350px;
}

p.answer{
  font-style: normal;
  font-family:sans-serif;;
  line-height: 200px;
  font-size: 50px;
  animation-duration: 5s;
  animation-delay: 1s;
  margin: 0px;
}
.about-font-icon{
  font-size: 120px;
  color: #141E30;
}
.item{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.roller{
  padding-bottom: 10px;
}
